<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link href="home.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%if(name){%>
    <p>Welcome <%=name%></p>
    <button>
      <a href="/dashboard">Create messages</a>
    </button>
    <%}%> <%if(list){%>
    <p class="main-heading">List of All messages:-</p>
    <%for(let i = 0; i < list.length;i++){%> <%if(list[i].messages !== null){%>
    <div class="main-box">
      <%if(status){%>
      <p class="email-box"><%=list[i].emailname%></p>
      <%}%>
      <p class="message-box"><%=list[i].messages%></p>
      <%if(adminStatus === 'true'){%>
      <button class="delete-box">
        <form method="post" action="/">
          <input
            style="background-color: #e74c3c; border-style: none"
            type="submit"
            id="<%=list[i].emailname%>"
            name="<%=list[i].emailname%>"
            value="delete the message"
            required
          />
        </form>
      </button>

      <%}%>
    </div>
    <%}%> <%}%> <%}%>

    <button>
      <a href="/log-in"> Login </a>
    </button>
    <button>
      <a href="/sign-up"> SignUp </a>
    </button>
    <button>
      <a href="/log-out"> Log out </a>
    </button>
  </body>
</html>
