<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link href="/styles/home.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%if(name){%>
    <p>Welcome <%=name%></p>
    <button>
      <a href="/dashboard">Create messages</a>
    </button>
    <%}%> <%if(list){%>

    <p>List of All messages:-</p>
    <%for(let i = 0; i < list.length;i++){%> <%if(list[i].messages !== null){%>
    <div>
      <p>
        <%if(status){%> <%=list[i].emailname%> <%}%> <%=list[i].messages%>
        <%if(adminStatus === 'true'){%>

        <button>
          <form method="post" action="/">
            <input
              class="delete-box"
              type="submit"
              id="<%=list[i].emailname%>"
              name="emailName"
              value="<%=list[i].emailname%>"
              required
            />
          </form>
        </button>
        <%}%>
      </p>
    </div>
    <%}%> <%}%> <%}%>

    <button>
      <a href="/log-in"> Login </a>
    </button>
    <button>
      <a href="/sign-up"> SignUp </a>
    </button>
    <button>
      <a href="/log-out"> Log out </a>
    </button>
  </body>
</html>
